<div class="tree" id="FamilyTreeDiv">

    <ul>
        <li>
            <div class="double">
                <div class="female"><strong>
                        Amena Sultana
                    </strong><br /> Great Grandmother
                </div>
                <div class="male"><strong>
                        Syed Abbas Mohd
                    </strong><br /> Patriarch
                </div>
            </div>

            <ul>
                <li>
                    <div class="double">
                        <div class="male"><strong>Syed Zafar Abbas
                            </strong><br /> Father, Teacher, Coach
                        </div>
                        <div class="female"><strong>Shaheda Bano
                            </strong><br /> Homemaker
                        </div>
                    </div>
                    <ul>
                        <li>
                            <div class="double">
                                <div class="male" (click)="redirectToProfile()"><strong>Nasar Abbas
                                    </strong><br /> Software Engineer
                                </div>
                                <div class="female"><strong>Bushra Ansar Syeda
                                    </strong><br /> Critical Account Manager
                                </div>
                            </div>
                            <ul>
                                <li>
                                    <div class="single">
                                        <div class="female"><strong>Ayrah Syeda Abbas
                                            </strong><br /> Tantrum Toddler
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="single">
                                        <div class="female"><strong>Arfa Syeda Abbas
                                            </strong><br /> Innocent Infant
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <div class="double">
                                <div class="male"><strong>Samar Abbas
                                    </strong><br /> Social Media Manager
                                </div>
                                <div class="female"><strong>Sumera Mazeen Nizami
                                    </strong><br /> Homemaker
                                </div>
                            </div>
                        </li>
                    </ul>

                </li>
                <li>
                    <div class="double">
                        <div class="male"><strong>Syed Asif Abbas
                            </strong><br /> Enterpreneur </div>
                        <div class="female"><strong>
                                Jabeen Asif
                            </strong><br /> Homemaker </div>
                    </div>
                    <ul>
                        <li>
                            <div class="single">
                                <div class="male"><strong>
                                        Imaad Abbas
                                    </strong><br /> Experential Marketeer </div>
                            </div>
                        </li>
                        <li>
                            <div class="single">
                                <div class="female"><strong>Saba Asif
                                    </strong><br /> Doctor </div>
                            </div>
                        </li>
                        <li>
                            <div class="single">
                                <div class="male"><strong>Junaid Abbas
                                    </strong><br /> Student </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>