<div class="tree" id="FamilyTreeDiv">

    <ul>

        <li>
            <div class="double">
                <div class="female">
                    Amena Sultana
                    <br /> 1935 -
                </div>
                <div class="male">
                    Syed Abbas Mohd
                    <br /> 1925 - 1963
                </div>
            </div>


            <ul>
                <li>
                    <div class="double">
                        <div class="male">Syed Zafar Abbas
                            <br /> 1960 -
                        </div>
                        <div class="female">Shaheda Bano
                            <br /> 1965 -
                        </div>
                    </div>
                    <ul>

                        <li>
                            <div class="double">
                                <div class="male">Syed Nasar Abbas
                                    <br /> 1988 -
                                </div>
                                <div class="female">Bushra Ansar Syeda
                                    <br /> 1989 -
                                </div>
                            </div>
                            <ul>
        
                                <li>
                                    <div class="single">
                                        <div class="female">Ayrah Syeda Abbas
                                            <br /> 2017 -
                                        </div>
                                    </div>
                                </li>
        
        
                                <li>
                                    <div class="single">
                                        <div class="female">Arfa Syeda Abbas
                                            <br /> 2020 -
                                        </div>
                                    </div>
                                </li>
        
                            </ul>
                        </li>


                        <li>
                            <div class="double">
                                <div class="male">Syed Samar Abbas
                                    <br /> 1990 -
                                </div>
                                <div class="female">Sumera Mazeen Nizami
                                    <br /> 1991 -
                                </div>
                            </div>
                        </li>

                    </ul>

                </li>


                <li>

                    <div class="double">
                        <div class="male">Syed Asif Abbas
                            <br /> 1962 - </div>
                        <div class="female">Jabeen Asif
                            <br /> 1970 - </div>
                    </div>


                    <ul>

                        <li>
                            <div class="single">
                                <div class="male">Syed Imaad Abbas
                                    <br /> 1992 - </div>
                            </div>
                        </li>

                        <li>
                            <div class="single">
                                <div class="female">Saba Asif
                                    <br /> 1993 - </div>
                            </div>
                        </li>

                        <li>
                            <div class="single">
                                <div class="male">Syed Junaid Abbas
                                    <br /> 1653 - </div>
                            </div>
                        </li>

                    </ul>

                </li>

            </ul>
        </li>

    </ul>

</div>