<div class="profile">

    <div class="sidebar">
        <h1 class="h-1">Syed Nasar Abbas</h1>
        <ul class="unorderedList horizontal">
            <li><i class="fas fa-phone pad-right-1"></i>773-977-6453</li>
            <li><i class="fas fa-envelope pad-right-1"></i>nasar@abbasfamily.us</li>
        </ul>
        <ul class="unorderedList">

            <li><i class="fab fa-twitter"></i></li>
            <li><i class="fab fa-linkedin"></i></li>
        </ul>
        <div>
            <img src="../../../assets/Signature - Syed Abbas.png" />
        </div>
    </div>
    <div class="main-container">
    </div>
</div>