.main-container {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 2;
}



.profile {
    display: flex;
    height: calc(100vh - 60px);
    padding:0 10px;
    .sidebar {
        min-width: 200px;
        flex: 0.7;
        height: 100%;
        .header {
            font-weight: 100;
            margin-block-end: 0.3em;
            margin-block-start: 0.3em;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 100%;
            height:250px;
        }
    }
}

.header>* {
    flex: 1 1 20%;
}
.unorderedList {
    font-size: smaller;
    list-style-type: none;
    padding-inline-start: 0px;
    margin-block-end: 0.5em;
    margin-block-start: 0.5em;
}
.horizontal {
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    li {
        margin-block-end: 1em;
        i {
       padding-right: 0.5em; 
        }
    }
}

.title {
    font-weight: 550;
}

.subtitle {
    font-size: smaller;
    font-weight: 200;
    font-style: oblique;
}

.image {
    width: 250px;
    height: 250px;
}

img {
    width: 100%;
    height:100%;
}