<div class="profile">

    <div class="sidebar">
        <div class="header">
            <div class="title">Syed Nasar Abbas <br />
                <span class="subtitle">Software Engineer</span></div>
            <div>
                <ul class="unorderedList horizontal">
                    <li><i class="fas fa-phone pad-right-1"></i>773-977-6453</li>
                    <li><i class="fas fa-envelope pad-right-1"></i><a
                            href="mailto:nasar@abbasfamily.us">nasar@abbasfamily.us</a></li>
                    <li><i class="fab fa-linkedin"></i><a href="https://linkedin.com/in/syednabbas">LinkedIn</a></li>
                    <li><i class="fab fa-twitter"></i><a href="https://twitter.com/snabbas23">Twitter</a></li>
                </ul>
            </div>
            <div class="image"><img src="../../../assets/Nasar.jpg" /></div>
        </div>
    </div>
    <div class="main-container">
    </div>
</div>